<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>SHREYANSH ENTERPRISES</h2> 
        <p>Receipt Number: {{ receipt_number }}</p>
        <p>Date & Time: {{ current_date_time }}</p>
        <div>
            <p>GSTIN: 09EVAPK6897Q1ZE</p>
            <p>Customer Name: {{ customer_name }}</p>
            <p>Quantity: {{ quantity }}</p>
            <p>Price per item: ₹{{ price }}</p>
            <p>Total: ₹{{ total }}</p>
            <div style="position: relative; width: 100%; height: 0; padding-top: 100.0000%;
            padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
            border-radius: 8px; will-change: transform;">
             <img src="{{ url_for('static', filename='img/ENTERPRISES.png') }}" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;">
           </div>
           
</div>
           <P>Thank You,Visit Again</P>
            
            
        </div>
    </div>
</body>
</html>
